body{
	
	padding-top: 5px;
}
#son {
	position: relative;
	height: 50px;
	background-color: #fff;
	margin-top: 10px;
	border-radius: 5px;
	padding: 10px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 4px 0 rgba(0, 0, 0, 0.12);
  
    


}
#play{
	position: relative;
	border-radius: 200px;
	height: 30px;
	width: 30px;
	border: none;
	color: #fff;
	margin-top: -8px;
	margin-bottom:9px;
	margin-right: 4px;
	float: left;

}
#play1 ,#play2,#play3,#play4,#play5,#play6,
#play7
{
	position: relative;
	border-radius: 200px;
	height: 30px;
	width: 30px;
	border: none;
	color: #fff;
	margin-top: -8px;
	margin-bottom:9px;
	margin-right: 4px;
	float: left;

}
#pause1,#pause2,#pause3,#pause4,#pause5,#pause6,#pause7{
	position: relative;
	border-radius: 200px;
	height: 30px;
	width: 30px;
	border: none;
	color: #fff;
	margin-top: -8px;
	margin-bottom:9px;
	float: left;

}


#avatar {
	position: relative;
	float: right;
	height: 52px;
	width:52px;
	margin-left: 8px;
}

#descrpt{
	color: #777777;
	font-weight: 500;
    font-family: 'Jomhuria', cursive;
    font-size: 22px;
    margin-top: 10px;
   	float: right;


}
#shik{

	color: #CDCDCD;
    font-size: 16px;
    margin-top: 10px;
   	float: right;
   	margin-right: -65px;
}

.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px; }
}

@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jomhuria'), local('Jomhuria-Regular'), url(../css/jomhuria.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jomhuria'), local('Jomhuria-Regular'), url(../css/jomhuria.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jomhuria'), local('Jomhuria-Regular'), url(../css/jomhuria.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}